@font-face {
  font-family: "Exocet Blizzard";
  src: url("/../fonts/exocet-blizzard-medium.eot?#iefix") format("embedded-opentype"), url("/../fonts/exocet-blizzard-medium.woff") format("woff"), url("/../fonts/exocet-blizzard-medium.ttf") format("truetype"), url("/../fonts/exocet-blizzard-medium.svg#svgExocetReaper") format("svg");
}

@font-face {
  font-family: "Exocet Blizzard Light";
  src: url("/../fonts/exocet-blizzard-light.eot?#iefix") format("embedded-opentype"), url("/../fonts/exocet-blizzard-light.woff") format("woff"), url("/../fonts/exocet-blizzard-light.ttf") format("truetype"), url("/../fonts/exocet-blizzard-light.svg#svgExocetReaper") format("svg");
}

@font-face {
  font-family: "Exocet Blizzard Heavy";
  src: url("/../fonts/exocet-blizzard-heavy.eot?#iefix") format("embedded-opentype"), url("/../fonts/exocet-blizzard-heavy.woff") format("woff"), url("/../fonts/exocet-blizzard-heavy.ttf") format("truetype"), url("/../fonts/exocet-blizzard-heavy.svg#svgExocetReaper") format("svg");
}

@font-face {
  font-family: "Exocet Reaper";
  src: url("/../fonts/exocet-reaper-medium.eot?#iefix") format("embedded-opentype"), url("/../fonts/exocet-reaper-medium.woff") format("woff"), url("/../fonts/exocet-reaper-medium.ttf") format("truetype"), url("/../fonts/exocet-reaper-medium.svg#svgExocetReaper") format("svg");
}

@font-face {
  font-family: "Exocet Reaper Light";
  src: url("/../fonts/exocet-reaper-light.eot?#iefix") format("embedded-opentype"), url("/../fonts/exocet-reaper-light.woff") format("woff"), url("/../fonts/exocet-reaper-light.ttf") format("truetype"), url("/../fonts/exocet-reaper-light.svg#svgExocetReaper") format("svg");
}

html,
body {
  height: 100%;
}

.notavailable {
  background-color: #9c9c9c;
  cursor: not-allowed;
}

.npc-item {
  border-bottom: 1px solid #ccc;
}

.npc-item .image {
  min-width: 75px;
  width: 75px;
  min-height: 75px;
  height: 75px;
}

.npc-item .price {
  color: gold;
}

.npc-item input.amount {
  text-align: center;
  padding: 5px !important;
  min-width: 30px !important;
  max-width: 30px !important;
}

.npc-item .btn-quantity {
  width: 20px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0 !important;
  border: 1px solid #ccc !important;
}

.npc-item .btn-action {
  width: 35px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0 !important;
  border: 1px solid #ddd !important;
}

.cart-item {
  border-bottom: 1px solid #ccc;
}

.cart-item .image {
  min-width: 50px;
  width: 50px;
  min-height: 50px;
  height: 50px;
}

.cart-item .price {
  color: gold;
}

.cart-item input.amount {
  text-align: center;
  padding: 5px !important;
  min-width: 30px !important;
  max-width: 30px !important;
}

.cart-item .btn-quantity {
  width: 20px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0 !important;
  border: 1px solid #ccc !important;
}

.cart-item .btn-action {
  width: 60px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0 !important;
  border: 1px solid #ddd !important;
}

.splitter {
  border: 5px solid;
  overflow-y: auto;
  overflow-x: hidden;
}

.h-90 {
  height: 90%;
}

.h-50-px {
  height: 50px;
}

.h-75-px {
  height: 75px;
}
/*# sourceMappingURL=app.css.map */