.cart-item {
    border-bottom: 1px solid #28241d;
    background-color: rgba(0, 0, 0, 0.75);
    color: rgb(194, 194, 194);

    .item-name {
        user-select: text;
    }

    .image {
        max-height: 50px;
        // min-width: 50px;
        // width: 50px;
        // min-height: 50px;
        // height: 50px;
    }

    input.amount {
        text-align: center;
        border: 0;
        padding: 5px !important;
        min-width: 30px !important;
        max-width: 30px !important;
        background-color: #eae1c8;
    }

    .btn-quantity {
        width: 20px;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        border-radius: 0 !important;
        border: 1px solid #333 !important;
    }

    .btn-action {
        width: 60px;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        border: 1px solid #333 !important;
    }
}
