.npc-item {
    color: rgb(194, 194, 194);
    background-color: rgba(0, 0, 0, 0.75);
    border-bottom: 1px solid #28241d;
    box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.25);

    &:nth-child(even) {
        background-color: rgba(9, 8, 6, 0.75);
    }

    .image {
        max-height: 100px;
        filter: drop-shadow(2px 4px 3px rgba(0, 0, 0, 0.5));
        // min-width: 75px;
        // width: 75px;
        // min-height: 75px;
        // height: 75px;
    }

    .item-name,
    .item-name + p {
        user-select: text;
    }

    input.amount {
        text-align: center;
        border: 0;
        padding: 5px !important;
        min-width: 30px !important;
        max-width: 30px !important;
        background-color: #eae1c8;
    }

    .btn-quantity {
        width: 20px;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        border-radius: 0 !important;
        border: 1px solid #333 !important;
    }

    .btn-action {
        width: 35px;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        border: 1px solid #333 !important;
    }
}
