.npc-item {
    border-bottom: 1px solid #ccc;

    .image {
        min-width: 75px;
        width: 75px;
        min-height: 75px;
        height: 75px;
    }

    .price {
        color: gold;
    }

    input.amount {
        text-align: center;
        padding: 5px !important;
        min-width: 30px !important;
        max-width: 30px !important;
    }

    .btn-quantity {
        width: 20px;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        border-radius: 0 !important;
        border: 1px solid #ccc !important;
    }

    .btn-action {
        width: 35px;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        border-radius: 0 !important;
        border: 1px solid #ddd !important;
    }
}
