.search {
    border-bottom: 1px solid #28241d;

    .form-control,
    button {
        border-radius: 0;
    }

    button {
        height: 38px;
        color: #f1d4cd;
        text-shadow: 0 0 4px rgba(255, 255, 255, 0.75);
        background-image: url("/images/btn-diablo-secondary-red.png");
        background-repeat: no-repeat;
        background-position: center;
    }

    .form-control {
        background-color: #eae1c8;
    }
}
