.container-fluid,
.book {
    transform: scale(0.9);
}

.scrollbar {
    // border: 5px solid transparent;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    padding: 0;

    &-left {
        height: calc(825px - 149px) !important;
    }

    &-right {
        height: calc(100% - 72px);
    }
}

.splitter {
    &-left {
        z-index: 2;
        border-right: 1px solid #28241d;
    }

    &-right {
        z-index: 2;
        border-left: 1px solid #28241d;
    }
}

.h-90 {
    height: 90%;
}

.h-50-px {
    height: 50px;
}

.h-75-px {
    height: 75px;
}

.shop-bg {
    overflow: hidden;
    height: 825px !important;
    width: 1299px !important;
    box-shadow: 0 0 20px #000000;
    border: 2px solid #28241d;
    background-image: url("/images/store-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-texture-red {
    background-image: url("/images/btn-texture-red.png");
    background-repeat: no-repeat;
    color: #f1d4cd;
}

.btn-texture-blue {
    background-image: url("/images/btn-texture-blue.png");
    background-repeat: no-repeat;
    color: #cbdcf0;
}

.btn-texture-gray {
    background-image: url("/images/btn-texture-blue.png");
    filter: grayscale(1);
    color: #ffffff;
}

.btn:hover {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

#accept,
#decline {
    // border: 1px solid #28241d;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.75);
    transition: 0.1s ease;

    &:hover {
        box-shadow: none;
    }
}

#accept {
    color: #cbdcf0;
    background-image: url("/images/btn-diablo-blue.png");
    // background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 159px;
    height: 43px;

    &:active {
        background-image: url("/images/btn-diablo-blue-active.png");
    }
}

#decline {
    color: #f1d4cd;
    background-image: url("/images/btn-diablo-red.png");
    // background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 159px;
    height: 43px;

    &:active {
        background-image: url("/images/btn-diablo-red-active.png");
    }
}

.item-name {
    color: #ffffff;
    font-family: "Exocet Blizzard";
    font-size: 1rem;
    font-weight: normal;
}

.top-bar {
    position: sticky;
    top: 0;
    z-index: 1;
}

.bottom-bar {
    position: sticky;
    bottom: 0;
    z-index: 1;
    padding: 14px;
    background-image: url("/images/bg-messagebox.jpg");
    background-repeat: no-repeat;
    background-position: bottom right;
    border-top: 1px solid #28241d;

    &:before {
        content: " ";
        position: absolute;
        z-index: -1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        box-shadow: 0 -6px 16px #000000;
    }

    .price {
        font-size: 24px;
    }
}

.container-fluid {
    position: relative;
}

.price {
    color: #f8cc35;
}

.price > img {
    margin-top: 2px;
}

.book {
    position: absolute;
    top: -4px;
    width: 100%;
    height: 100%;

    div {
        position: relative;
        height: 900px;
        width: 1460px;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 auto;
        background-image: url(/images/bg-book.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        filter: drop-shadow(0 0 20px #000000);
    }
}

.background {
    background-image: url("/images/wallpaper.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

    transform: scale(1.01);
    filter: blur(2px);

    &-wrapper {
        z-index: -1;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
    }
}
