.splitter {
    border: 5px solid transparent;
    overflow-y: auto;
    overflow-x: hidden;
}

.h-90 {
    height: 90%;
}

.h-50-px {
    height: 50px;
}

.h-75-px {
    height: 75px;
}

.shop-bg {
    background-image: url('/images/store-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 866px !important;
    overflow-y: scroll;
}

.btn-texture-red {
    background-image: url('/images/btn-texture-red.png');
    color: white;
}

.btn-texture-blue {
    background-image: url('/images/btn-texture-blue.png');
    color: white;
}

.btn-texture-gray {
    background-image: url('/images/btn-texture-blue.png');
    filter: grayscale(1);
    color: white;
}
