html,
body {
    height: 100%;
}

// Bootstrap overrides
*:focus {
    box-shadow: none !important;
    border: none;
}

.exocet {
    font-family: "Exocet Blizzard";

    &-light {
        font-family: "Exocet Blizzard Light";
    }

    &-heavy {
        font-family: "Exocet Blizzard Heavy";
    }
}
