html,
body {
    height: 100%;
}

.exocet {
    font-family: "Exocet Blizzard";

    &-light {
        font-family: "Exocet Blizzard Light";
    }

    &-heavy {
        font-family: "Exocet Blizzard Heavy";
    }

    &-reaper {
        font-family: "Exocet Reaper";
    }
}

* {
    user-select: none;
}

// Bootstrap override
*:focus {
    box-shadow: none !important;
    border: none;
}
